Import the libraries necesary for the data exploration analisys

In [1]:
import pandas as pd

Expectations for this part:
- Get to know the domain
- Explore your data
- Clean your data
- Take a look and find connections between data

In [2]:
measures1 = pd.read_csv('../data/measurements.csv') # First Dataset
measures2 = pd.read_excel('../data/measurements2.xlsx') # Second Dataset

First dataset:

In [3]:
measures1

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
383,16,"3,7",39,"24,5",18,NaN,SP98,0,0,0,NaN,NaN
384,"16,1","4,3",38,25,31,AC,SP98,1,0,0,NaN,NaN
385,16,"3,8",45,25,19,NaN,SP98,0,0,0,NaN,NaN
386,"15,4","4,6",42,25,31,AC,SP98,1,0,0,NaN,NaN
387,"14,7",5,25,25,30,AC,SP98,1,0,0,NaN,NaN

In [4]:
measures2

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28.0,5.0,26,21.5,12,NaN,E10,0,0,0,45.0,E10
1,12.0,4.2,30,21.5,13,NaN,E10,0,0,0,NaN,NaN
2,11.2,5.5,38,21.5,15,NaN,E10,0,0,0,NaN,NaN
3,12.9,3.9,36,21.5,14,NaN,E10,0,0,0,NaN,NaN
4,18.5,4.5,46,21.5,15,NaN,E10,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
383,16.0,3.7,39,24.5,18,NaN,SP98,0,0,0,NaN,NaN
384,16.1,4.3,38,25.0,31,AC,SP98,1,0,0,NaN,NaN
385,16.0,3.8,45,25.0,19,NaN,SP98,0,0,0,NaN,NaN
386,15.4,4.6,42,25.0,31,AC,SP98,1,0,0,NaN,NaN
387,14.7,5.0,25,25.0,30,AC,SP98,1,0,0,NaN,NaN

In [5]:
# Concat the two files
measures = pd.concat([measures1, measures2])

In [6]:
measures

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
383,16.0,3.7,39,24.5,18,NaN,SP98,0,0,0,NaN,NaN
384,16.1,4.3,38,25.0,31,AC,SP98,1,0,0,NaN,NaN
385,16.0,3.8,45,25.0,19,NaN,SP98,0,0,0,NaN,NaN
386,15.4,4.6,42,25.0,31,AC,SP98,1,0,0,NaN,NaN
387,14.7,5.0,25,25.0,30,AC,SP98,1,0,0,NaN,NaN

In [7]:
# verify the unique values
measures.nunique().sum()

595

In [8]:
# Check if there are null
measures.isnull().sum()

distance           0
consume            0
speed              0
temp_inside       24
temp_outside       0
specials         590
gas_type           0
AC                 0
rain               0
sun                0
refill liters    750
refill gas       750
dtype: int64

In [9]:
# Verify the duplicates
measures.duplicated().sum()

0

In [10]:
measures1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    object
 1   consume        388 non-null    object
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    object
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     object
 11  refill gas     13 non-null     object
dtypes: int64(5), object(7)
memory usage: 36.5+ KB

In [11]:
measures['specials'].value_counts()

specials
rain                  64
sun                   54
AC rain               18
ac                    16
AC                    12
snow                   6
sun ac                 6
AC snow                2
half rain half sun     2
AC sun                 2
AC Sun                 2
ac rain                2
Name: count, dtype: int64

In [12]:
measures['refill liters'].value_counts()

refill liters
45      2
39      2
39.0    2
37.7    2
45.0    2
37,7    2
10      1
38,3    1
41      1
37      1
37,2    1
37,6    1
37.6    1
38      1
38.0    1
38.3    1
10.0    1
41.0    1
37.0    1
37.2    1
Name: count, dtype: int64

In [13]:
measures['refill gas'].value_counts()

refill gas
SP98    16
E10     10
Name: count, dtype: int64

In [14]:
# Change the commas to dots
comma_to_dot = ['distance', 'consume', 'temp_inside', 'refill liters']
for col in comma_to_dot:
    measures[col] = measures[col].str.replace(',','.').astype(float)
measures

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28.0,5.0,26,21.5,12,NaN,E10,0,0,0,45.0,E10
1,12.0,4.2,30,21.5,13,NaN,E10,0,0,0,NaN,NaN
2,11.2,5.5,38,21.5,15,NaN,E10,0,0,0,NaN,NaN
3,12.9,3.9,36,21.5,14,NaN,E10,0,0,0,NaN,NaN
4,18.5,4.5,46,21.5,15,NaN,E10,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
383,NaN,NaN,39,NaN,18,NaN,SP98,0,0,0,NaN,NaN
384,NaN,NaN,38,NaN,31,AC,SP98,1,0,0,NaN,NaN
385,NaN,NaN,45,NaN,19,NaN,SP98,0,0,0,NaN,NaN
386,NaN,NaN,42,NaN,31,AC,SP98,1,0,0,NaN,NaN
387,NaN,NaN,25,NaN,30,AC,SP98,1,0,0,NaN,NaN

In [15]:
# Fill the null spaces
measures['temp_inside'].fillna(measures['temp_inside'].mean(), inplace=True)
measures['specials'].fillna('None', inplace=True)
measures['refill gas'].fillna('None', inplace=True)
measures['refill liters'].fillna(0, inplace=True)

# Change the names of the columns
measures.columns = measures.columns.str.lower()
measures

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,ac,rain,sun,refill liters,refill gas
0,28.0,5.0,26,21.500000,12,None,E10,0,0,0,45.0,E10
1,12.0,4.2,30,21.500000,13,None,E10,0,0,0,0.0,None
2,11.2,5.5,38,21.500000,15,None,E10,0,0,0,0.0,None
3,12.9,3.9,36,21.500000,14,None,E10,0,0,0,0.0,None
4,18.5,4.5,46,21.500000,15,None,E10,0,0,0,0.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...
383,NaN,NaN,39,21.929521,18,None,SP98,0,0,0,0.0,None
384,NaN,NaN,38,21.929521,31,AC,SP98,1,0,0,0.0,None
385,NaN,NaN,45,21.929521,19,None,SP98,0,0,0,0.0,None
386,NaN,NaN,42,21.929521,31,AC,SP98,1,0,0,0.0,None
387,NaN,NaN,25,21.929521,30,AC,SP98,1,0,0,0.0,None

In [16]:
# Create the dummy
measures = pd.get_dummies(measures, columns=['specials', 'gas_type', 'refill gas'])

In [17]:
# Add two new columns
measures['fuel_efficiency'] = measures['distance'] / measures['consume']
measures['temp_difference'] = measures['temp_outside'] - measures['temp_inside']

In [18]:
# Drop the outliers
measures = measures[(measures['distance'] > 0) & (measures['consume'] > 0)]

In [19]:
measures

,distance,consume,speed,temp_inside,temp_outside,ac,rain,sun,refill liters,specials_AC,...,specials_snow,specials_sun,specials_sun ac,gas_type_E10,gas_type_SP98,refill gas_E10,refill gas_None,refill gas_SP98,fuel_efficiency,temp_difference
0,28.0,5.0,26,21.5,12,0,0,0,45.0,False,...,False,False,False,True,False,True,False,False,5.600000,-9.5
1,12.0,4.2,30,21.5,13,0,0,0,0.0,False,...,False,False,False,True,False,False,True,False,2.857143,-8.5
2,11.2,5.5,38,21.5,15,0,0,0,0.0,False,...,False,False,False,True,False,False,True,False,2.036364,-6.5
3,12.9,3.9,36,21.5,14,0,0,0,0.0,False,...,False,False,False,True,False,False,True,False,3.307692,-7.5
4,18.5,4.5,46,21.5,15,0,0,0,0.0,False,...,False,False,False,True,False,False,True,False,4.111111,-6.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,16.0,3.7,39,24.5,18,0,0,0,0.0,False,...,False,False,False,False,True,False,True,False,4.324324,-6.5
384,16.1,4.3,38,25.0,31,1,0,0,0.0,True,...,False,False,False,False,True,False,True,False,3.744186,6.0
385,16.0,3.8,45,25.0,19,0,0,0,0.0,False,...,False,False,False,False,True,False,True,False,4.210526,-6.0
386,15.4,4.6,42,25.0,31,1,0,0,0.0,True,...,False,False,False,False,True,False,True,False,3.347826,6.0
387,14.7,5.0,25,25.0,30,1,0,0,0.0,True,...,False,False,False,False,True,False,True,False,2.940000,5.0

In [20]:
# Normalize
numerical_cols = ['distance', 'consume', 'speed', 'temp_inside', 'temp_outside', 'refill liters', 'fuel_efficiency', 'temp_difference']
measures[numerical_cols] = (measures[numerical_cols] - measures[numerical_cols].min()) / (measures[numerical_cols].max() - measures[numerical_cols].min())

In [21]:
measures.head(10)

,distance,consume,speed,temp_inside,temp_outside,ac,rain,sun,refill liters,specials_AC,...,specials_snow,specials_sun,specials_sun ac,gas_type_E10,gas_type_SP98,refill gas_E10,refill gas_None,refill gas_SP98,fuel_efficiency,temp_difference
0,0.124302,0.191011,0.157895,0.384615,0.472222,0,0,0,1.0,False,...,False,False,False,True,False,True,False,False,0.119916,0.485294
1,0.049814,0.101124,0.210526,0.384615,0.500000,0,0,0,0.0,False,...,False,False,False,True,False,False,True,False,0.059972,0.514706
2,0.046089,0.247191,0.315789,0.384615,0.555556,0,0,0,0.0,False,...,False,False,False,True,False,False,True,False,0.042034,0.573529
3,0.054004,0.067416,0.289474,0.384615,0.527778,0,0,0,0.0,False,...,False,False,False,True,False,False,True,False,0.069818,0.544118
4,0.080074,0.134831,0.421053,0.384615,0.555556,0,0,0,0.0,False,...,False,False,False,True,False,False,True,False,0.087377,0.573529
5,0.032588,0.348315,0.473684,0.384615,0.416667,0,0,0,0.0,False,...,False,False,False,True,False,False,True,False,0.025872,0.426471
6,0.030261,0.123596,0.381579,0.384615,0.444444,0,0,0,0.0,False,...,False,False,False,True,False,False,True,False,0.036272,0.455882
7,0.051210,0.191011,0.342105,0.384615,0.305556,0,0,0,0.0,False,...,False,False,False,True,False,False,True,False,0.051292,0.308824
8,0.016760,0.348315,0.157895,0.384615,0.250000,0,0,0,0.0,False,...,False,False,False,True,False,False,True,False,0.014262,0.250000
9,0.049348,0.224719,0.210526,0.384615,0.388889,0,0,0,0.0,False,...,False,False,False,True,False,False,True,False,0.046600,0.397059

In [22]:
measures.info()

<class 'pandas.core.frame.DataFrame'>
Index: 388 entries, 0 to 387
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   distance                     388 non-null    float64
 1   consume                      388 non-null    float64
 2   speed                        388 non-null    float64
 3   temp_inside                  388 non-null    float64
 4   temp_outside                 388 non-null    float64
 5   ac                           388 non-null    int64
 6   rain                         388 non-null    int64
 7   sun                          388 non-null    int64
 8   refill liters                388 non-null    float64
 9   specials_AC                  388 non-null    bool
 10  specials_AC Sun              388 non-null    bool
 11  specials_AC rain             388 non-null    bool
 12  specials_AC snow             388 non-null    bool
 13  specials_AC sun              388 non-null    bool
 14  specials_None                388 non-null    bool
 15  specials_ac                  388 non-null    bool
 16  specials_ac rain             388 non-null    bool
 17  specials_half rain half sun  388 non-null    bool
 18  specials_rain                388 non-null    bool
 19  specials_snow                388 non-null    bool
 20  specials_sun                 388 non-null    bool
 21  specials_sun ac              388 non-null    bool
 22  gas_type_E10                 388 non-null    bool
 23  gas_type_SP98                388 non-null    bool
 24  refill gas_E10               388 non-null    bool
 25  refill gas_None              388 non-null    bool
 26  refill gas_SP98              388 non-null    bool
 27  fuel_efficiency              388 non-null    float64
 28  temp_difference              388 non-null    float64
dtypes: bool(18), float64(8), int64(3)
memory usage: 43.2 KB

In [23]:
measures.describe()

,distance,consume,speed,temp_inside,temp_outside,ac,rain,sun,refill liters,fuel_efficiency,temp_difference
count,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000
mean,0.085442,0.181165,0.367472,0.450696,0.454396,0.077320,0.123711,0.082474,0.027635,0.089312,0.453786
std,0.105530,0.116087,0.178928,0.153026,0.194210,0.267443,0.329677,0.275441,0.152365,0.102656,0.197017
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.048883,0.112360,0.246711,0.384615,0.333333,0.000000,0.000000,0.000000,0.000000,0.048169,0.334559
50%,0.061918,0.157303,0.348684,0.461538,0.416667,0.000000,0.000000,0.000000,0.000000,0.064944,0.426471
75%,0.082402,0.224719,0.473684,0.538462,0.583333,0.000000,0.000000,0.000000,0.000000,0.092846,0.577206
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
measures.to_csv('./clean/clean_measurements.csv', index=False)