# Technical Challenge Career Week

# COBIFY

### Import libraries

In [1]:
import pandas as pd
import numpy as np
import math

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)


import pylab as plt
import seaborn as sns

### Read CSV

In [2]:
fuel = pd.read_csv(r'C:\Users\pombo\OneDrive\Escritorio\Ironhack\Labs\Technical_test\technical_challenge_DA\data\measurements.csv')

In [3]:
fuel.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

### Clean columns so all are lower case and there is no spaces

In [4]:
fuel.columns=[e.lower().replace(' ', '_') for e in fuel.columns]

### Visualize first 10 lines

In [5]:
fuel.head(10)

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,ac,rain,sun,refill_liters,refill_gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN
5,"8,3","6,4",50,"21,5",10,NaN,E10,0,0,0,NaN,NaN
6,"7,8","4,4",43,"21,5",11,NaN,E10,0,0,0,NaN,NaN
7,"12,3",5,40,"21,5",6,NaN,E10,0,0,0,NaN,NaN
8,"4,9","6,4",26,"21,5",4,NaN,E10,0,0,0,NaN,NaN
9,"11,9","5,3",30,"21,5",9,NaN,E10,0,0,0,NaN,NaN

### Shape and info of dataset?

In [6]:
fuel.shape

(388, 12)

In [7]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    object
 1   consume        388 non-null    object
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    object
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   ac             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill_liters  13 non-null     object
 11  refill_gas     13 non-null     object
dtypes: int64(5), object(7)
memory usage: 36.5+ KB

### distance, consume, temp_inside and refill_liters should be floats...and the have commas for points as decimal delimiter

### Columns?

In [8]:
cols = list(fuel.columns)
cols

['distance',
 'consume',
 'speed',
 'temp_inside',
 'temp_outside',
 'specials',
 'gas_type',
 'ac',
 'rain',
 'sun',
 'refill_liters',
 'refill_gas']

In [9]:
cols1 = ['distance','consume','temp_inside','refill_liters']

### Replace "," for "." and type of columns to float

In [10]:
for i in cols1:
    fuel[i] = fuel[i].str.replace(',','.')
    fuel[i] = fuel[i].astype(dtype='float64')
    
fuel.head(10)

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,ac,rain,sun,refill_liters,refill_gas
0,28.0,5.0,26,21.5,12,NaN,E10,0,0,0,45.0,E10
1,12.0,4.2,30,21.5,13,NaN,E10,0,0,0,NaN,NaN
2,11.2,5.5,38,21.5,15,NaN,E10,0,0,0,NaN,NaN
3,12.9,3.9,36,21.5,14,NaN,E10,0,0,0,NaN,NaN
4,18.5,4.5,46,21.5,15,NaN,E10,0,0,0,NaN,NaN
5,8.3,6.4,50,21.5,10,NaN,E10,0,0,0,NaN,NaN
6,7.8,4.4,43,21.5,11,NaN,E10,0,0,0,NaN,NaN
7,12.3,5.0,40,21.5,6,NaN,E10,0,0,0,NaN,NaN
8,4.9,6.4,26,21.5,4,NaN,E10,0,0,0,NaN,NaN
9,11.9,5.3,30,21.5,9,NaN,E10,0,0,0,NaN,NaN

In [11]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    float64
 1   consume        388 non-null    float64
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    float64
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   ac             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill_liters  13 non-null     float64
 11  refill_gas     13 non-null     object
dtypes: float64(4), int64(5), object(3)
memory usage: 36.5+ KB

In [12]:
fuel.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
distance,388.0,NaN,NaN,NaN,19.652835,22.667837,1.3,11.8,14.6,19.0,216.1
consume,388.0,NaN,NaN,NaN,4.912371,1.033172,3.3,4.3,4.7,5.3,12.2
speed,388.0,NaN,NaN,NaN,41.927835,13.598524,14.0,32.75,40.5,50.0,90.0
temp_inside,376.0,NaN,NaN,NaN,21.929521,1.010455,19.0,21.5,22.0,22.5,25.5
temp_outside,388.0,NaN,NaN,NaN,11.358247,6.991542,-5.0,7.0,10.0,16.0,31.0
specials,93,12,rain,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gas_type,388,2,SP98,228,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ac,388.0,NaN,NaN,NaN,0.07732,0.267443,0.0,0.0,0.0,0.0,1.0
rain,388.0,NaN,NaN,NaN,0.123711,0.329677,0.0,0.0,0.0,0.0,1.0
sun,388.0,NaN,NaN,NaN,0.082474,0.275441,0.0,0.0,0.0,0.0,1.0
refill_liters,13.0,NaN,NaN,NaN,37.115385,8.587282,10.0,37.6,38.0,39.0,45.0
refill_gas,13,2,SP98,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Number of nulls per column?

In [13]:
nan_cols = fuel.isna().sum()  # serie con los valores nulos por columna

nan_cols[nan_cols>0]

temp_inside       12
specials         295
refill_liters    375
refill_gas       375
dtype: int64

### We check unique values of refill liters and refill gas to see what information are they giving us

In [14]:
fuel.refill_gas.value_counts()

SP98    8
E10     5
Name: refill_gas, dtype: int64

In [15]:
fuel.refill_liters.value_counts()

45.0    2
37.7    2
39.0    2
37.6    1
38.0    1
38.3    1
10.0    1
41.0    1
37.0    1
37.2    1
Name: refill_liters, dtype: int64

### No relevant information for all dataset so I decide to drop both columns as they have more than 90% Nulls

In [16]:
nan_cols_90 = []

# Delete columns containing either 90% or more than 90% NaN Values

perc = 90.0
min_count =  int(((100-perc)/100)*fuel.shape[0] + 1)
fuel = fuel.dropna( axis=1, thresh=min_count)


fuel.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,ac,rain,sun
0,28.0,5.0,26,21.5,12,NaN,E10,0,0,0
1,12.0,4.2,30,21.5,13,NaN,E10,0,0,0
2,11.2,5.5,38,21.5,15,NaN,E10,0,0,0
3,12.9,3.9,36,21.5,14,NaN,E10,0,0,0
4,18.5,4.5,46,21.5,15,NaN,E10,0,0,0

### Investigate specials column

In [17]:
fuel.specials.value_counts()

rain                  32
sun                   27
AC rain                9
ac                     8
AC                     6
snow                   3
sun ac                 3
AC snow                1
half rain half sun     1
AC sun                 1
AC Sun                 1
ac rain                1
Name: specials, dtype: int64

In [18]:
fuel[fuel.specials == 'rain']

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,ac,rain,sun
50,11.8,5.1,29,21.5,5,rain,SP98,0,1,0
53,13.1,6.1,46,21.5,6,rain,SP98,0,1,0
55,153.5,4.9,82,21.5,3,rain,SP98,0,1,0
59,12.3,5.7,52,21.5,8,rain,SP98,0,1,0
85,12.3,6.2,58,20.0,11,rain,SP98,0,1,0
86,13.2,4.3,51,20.0,11,rain,SP98,0,1,0
87,13.0,5.0,45,20.0,11,rain,SP98,0,1,0
102,18.8,5.0,62,NaN,9,rain,SP98,0,1,0
103,4.9,6.9,25,21.0,12,rain,SP98,0,1,0
116,11.8,5.1,26,23.0,4,rain,SP98,0,1,0
117,22.9,6.0,42,23.0,4,rain,SP98,0,1,0
136,23.5,6.0,25,21.5,5,rain,SP98,0,1,0
137,11.8,4.5,38,21.5,5,rain,SP98,0,1,0
138,12.3,6.1,61,21.5,10,rain,SP98,0,1,0
139,16.1,5.4,24,21.5,7,rain,E10,0,1,0
140,11.8,4.3,40,21.5,10,rain,E10,0,1,0
147,1.7,10.8,14,21.5,10,rain,E10,0,1,0
152,22.9,4.6,61,21.5,7,rain,E10,0,1,0
155,36.6,5.2,80,21.5,7,rain,E10,0,1,0
157,11.8,4.2,34,21.5,9,rain,E10,0,1,0
158,21.6,5.3,44,21.5,9,rain,E10,0,1,0
159,39.4,5.3,60,21.5,9,rain,E10,0,1,0
224,12.9,5.1,34,22.5,8,rain,SP98,0,1,0
227,19.0,5.1,53,22.5,4,rain,SP98,0,1,0
242,9.2,5.7,33,22.5,8,rain,E10,0,1,0
243,12.3,5.8,54,22.5,10,rain,E10,0,1,0
245,11.8,6.1,16,22.5,6,rain,E10,0,1,0
246,13.0,5.7,37,22.5,11,rain,E10,0,1,0
274,25.7,4.9,50,22.0,10,rain,SP98,0,1,0
305,21.1,5.1,33,22.0,10,rain,SP98,0,1,0
321,16.6,4.2,52,22.0,15,rain,SP98,0,1,0
350,16.1,4.8,36,22.0,18,rain,SP98,0,1,0

In [19]:
fuel[fuel.specials == 'AC rain' ]

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,ac,rain,sun
40,12.4,4.0,55,21.5,7,AC rain,E10,1,1,0
60,2.9,7.9,18,21.5,9,AC rain,SP98,1,1,0
94,11.8,5.9,21,20.0,9,AC rain,SP98,1,1,0
101,26.2,5.8,71,21.0,8,AC rain,SP98,1,1,0
104,12.4,5.4,18,21.0,11,AC rain,SP98,1,1,0
153,17.3,5.0,61,21.5,6,AC rain,E10,1,1,0
204,8.7,5.3,28,22.5,12,AC rain,SP98,1,1,0
228,13.0,5.7,38,22.5,3,AC rain,SP98,1,1,0
277,16.0,4.4,40,22.0,7,AC rain,SP98,1,1,0

In [20]:
fuel[fuel.specials == 'sun' ]

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,ac,rain,sun
219,19.0,4.4,58,22.5,17,sun,SP98,0,0,1
239,16.9,4.5,48,22.5,9,sun,E10,0,0,1
240,12.4,4.6,55,22.5,11,sun,E10,0,0,1
241,17.4,4.4,36,22.5,12,sun,E10,0,0,1
248,12.3,5.2,57,22.5,15,sun,E10,0,0,1
249,12.5,4.3,57,22.5,16,sun,E10,0,0,1
250,31.5,4.1,30,22.5,16,sun,E10,0,0,1
253,17.0,3.9,46,22.5,14,sun,E10,0,0,1
257,12.4,4.7,55,22.5,14,sun,E10,0,0,1
261,24.5,3.9,50,NaN,15,sun,E10,0,0,1
265,4.2,3.9,29,22.0,18,sun,E10,0,0,1
286,37.2,4.0,45,22.0,20,sun,SP98,0,0,1
287,28.8,3.9,35,22.0,15,sun,SP98,0,0,1
289,7.4,4.1,25,22.0,18,sun,SP98,0,0,1
290,17.3,4.1,22,22.0,25,sun,SP98,0,0,1
295,12.7,4.5,39,22.0,27,sun,SP98,0,0,1
300,36.5,3.9,54,23.0,18,sun,SP98,0,0,1
311,10.8,4.7,48,22.0,17,sun,SP98,0,0,1
312,19.8,4.0,56,22.0,17,sun,SP98,0,0,1
319,216.1,5.3,90,22.0,21,sun,SP98,0,0,1
320,25.5,3.6,27,22.0,27,sun,SP98,0,0,1
355,4.5,5.2,23,22.0,23,sun,SP98,0,0,1
358,6.1,5.0,33,22.0,24,sun,SP98,0,0,1
377,16.6,4.1,49,22.0,26,sun,SP98,0,0,1
379,16.7,3.8,44,24.5,23,sun,SP98,0,0,1
381,5.5,3.7,33,24.5,28,sun,SP98,0,0,1
382,13.6,3.7,33,24.5,28,sun,SP98,0,0,1

In [21]:
fuel[(fuel.specials == 'ac') | (fuel.specials == 'AC')]

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,ac,rain,sun
41,4.5,5.0,29,21.5,7,AC,E10,1,0,0
69,11.8,4.5,37,21.5,4,AC,SP98,1,0,0
205,7.9,4.7,31,22.5,12,AC,SP98,1,0,0
302,16.6,4.4,46,22.0,5,ac,SP98,1,0,0
303,29.9,4.5,32,22.0,18,ac,SP98,1,0,0
334,129.7,4.6,58,24.0,21,ac,E10,0,0,0
367,15.4,5.0,48,25.5,31,ac,SP98,1,0,0
368,16.0,4.0,43,22.0,21,ac,SP98,1,0,0
373,15.3,6.6,16,24.0,27,ac,SP98,1,0,0
374,28.5,4.0,44,25.0,23,ac,SP98,1,0,0
378,16.2,4.4,39,24.5,17,ac,SP98,1,0,0
384,16.1,4.3,38,25.0,31,AC,SP98,1,0,0
386,15.4,4.6,42,25.0,31,AC,SP98,1,0,0
387,14.7,5.0,25,25.0,30,AC,SP98,1,0,0

### Done this checks, we can see specials column is allready represented in ac, rain, sun columns, so decision is to drop that column

In [22]:
fuel = fuel.drop('specials', axis=1)
fuel.head(10)

   distance  consume  speed  temp_inside  temp_outside gas_type  ac  rain  sun
0      28.0      5.0     26         21.5            12      E10   0     0    0
1      12.0      4.2     30         21.5            13      E10   0     0    0
2      11.2      5.5     38         21.5            15      E10   0     0    0
3      12.9      3.9     36         21.5            14      E10   0     0    0
4      18.5      4.5     46         21.5            15      E10   0     0    0
5       8.3      6.4     50         21.5            10      E10   0     0    0
6       7.8      4.4     43         21.5            11      E10   0     0    0
7      12.3      5.0     40         21.5             6      E10   0     0    0
8       4.9      6.4     26         21.5             4      E10   0     0    0
9      11.9      5.3     30         21.5             9      E10   0     0    0

### Now I want to do a numeric check on columns with relevant numeric information

In [24]:
cols_num = ['distance','consume','speed','temp_inside','temp_outside']

In [25]:
df = fuel.copy()

In [26]:
df = df[cols_num]

In [30]:
nums = df.describe().T
nums

              count       mean        std   min    25%   50%   75%    max
distance      388.0  19.652835  22.667837   1.3  11.80  14.6  19.0  216.1
consume       388.0   4.912371   1.033172   3.3   4.30   4.7   5.3   12.2
speed         388.0  41.927835  13.598524  14.0  32.75  40.5  50.0   90.0
temp_inside   376.0  21.929521   1.010455  19.0  21.50  22.0  22.5   25.5
temp_outside  388.0  11.358247   6.991542  -5.0   7.00  10.0  16.0   31.0

### I saw before that temp_inside had 12 values with null...I am going to fill them with the mean

In [36]:
round(nums.loc['temp_inside']['mean'],1)

21.9

In [37]:
fuel['temp_inside'].fillna(round(nums.loc['temp_inside']['mean'],1), inplace=True)

### Check Nulls

In [38]:
nan_cols = fuel.isna().sum()  # serie con los valores nulos por columna

nan_cols[nan_cols>0]

Series([], dtype: int64)

### No nulls left